* {
    margin: 0 ;
    padding: 0 ;
}

.loader {
    width: 200px ;
    height: 200px ;
    margin: 200px 200px ;
    border-radius: 50% ;
    border: 20px solid #1A535C;
    border-top: 20px solid #4ECDC4 ;

    animation: spinLoader 2s linear 0s infinite normal ;
}

@keyframes spinLoader {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}