* {
  padding: 0px ;
  margin: 0px ;

}

body {
  background-color: rgb(31, 32, 32);
  height: 100vh ;

  display: flex ;
  align-items: center ;
  justify-content: center ;
}

.container {
  height: 300px ;
  width: 1200px ;
  background-color: orange ;
  padding: 20px ;

  display: grid ;
  grid-template-columns: repeat(4, 1fr) ;
  grid-template-rows: 1fr ;;
  gap: 5px ;
}

img {
  height: 100% ;
  width: 100% ;

}

@media screen and (max-width: 900px) {
  .container {
    height: 400px ;
    width: 400px ;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr ;
  }
}

@media screen and (max-width: 500px) {
  .container {
    height: 800px ;
    width: 200px ;
    grid-template-columns: 1fr ;
    grid-template-rows: repeat(4, 1fr) ;
  }
}